@import "bulma/sass/utilities/initial-variables";
@import "bulma/sass/utilities/functions";

$purple: hsl(275,87%,45%);
$purple-invert: findColorInvert($purple);

@import "bulma/sass/utilities/derived-variables.sass";
$addColors: (
  "purple":($purple, $purple-invert),
);
$colors: map-merge($colors, $addColors);

@import 'bulma/bulma';



body, html, #root {
  height: 100%;
}
